.alert {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -300px;
    width: 600px;
    height: 200px;
    background-color: white;
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.2);
}

.alert_txt {
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 100px;
}

.close_btn {
    position: absolute;
    bottom: 10px;
    left: 190px;
    width: 220px;
    height: 50px;
    background-color: blueviolet;
    text-align: center;
    line-height: 30px;
    color: white;
}

.close_btn:hover {
    cursor: pointer;
    background-color: white;
    border: 2px solid blueviolet;
    color: blueviolet;
}